
/*================================
=            STANDARD            =
================================*/

#homePage .specialsSection img {
	border: 7px solid #ddd;
	width: 257px;
	height: 182px;
	margin: 20px 10px 20px 0;
}

/*-----  End of STANDARD  ------*/




/*=======================================
=            MIN-WIDTH 768px            =
=======================================*/

@media screen and (min-width: 768px) {

}

/*-----  End of MIN-WIDTH 768px  ------*/




/*=======================================
=            MIN-WIDTH 58.75em            =
=======================================*/

@media screen and (min-width: 58.75em) {

	#homePage .specialsSection {
		margin-top: 70px;
	}

}

/*-----  End of MIN-WIDTH 58.75em  ------*/






/*========================================
=            MIN-WIDTH 1280px            =
========================================*/

@media screen and (min-width: 1280px) {

}

/*-----  End of MIN-WIDTH 1280px  ------*/




/*========================================
=            MIN-WIDTH 1440px            =
========================================*/

@media screen and (min-width: 1440px) {

}

/*-----  End of MIN-WIDTH 1440px  ------*/







