/*=================================
=            TYPEFACES            =
=================================*/

$lobster: 'Lobster', cursive;

$holtwood: 'Holtwood One SC', serif;

/*-----  End of TYPEFACES  ------*/




/*==============================
=            COLORS            =
==============================*/

$textColor: #eadbd5;

$myLightBrown: #785e51;

$tan: #c49687;

/*-----  End of COLORS  ------*/



